.forestevents-container-top {
    display: flex;
    gap: 20px;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.forestevents-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    border: 1px solid silver;
    width: 90%;
    padding: 20px;
    margin-bottom: 20px;
}

.events_buttons {
    border: 1px solid silver;
    background-color: rgb(189, 235, 250);
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.events_buttons > button {
    border: none;
    background-color: transparent;
    color: black;
    width: 35%;
    letter-spacing: 2px;
}

.events_buttons > button:nth-of-type(2),.events_buttons >  button:nth-of-type(1)  {
    border-right: 1px solid silver;
    border-radius: 0%;
}