.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    background-color:rgb(221, 111, 8);
}



.header-container_middle > p {
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 2px;
}

.header-container > a>  img {
    position: fixed;
    top: 18px;
    left: 15px;
}

.header-container_middle > button {
    background-color: transparent;
    border-radius: 20px;
    color: white;
    width: 200px;
    height: 29px;
    text-decoration: underline;
}
.header-container_middle > button:hover {
    background-color: rgb(238, 145, 58);
}

.header-middle_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
