.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    width: 100%;
    
}



.header-container_middle > p {
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 2px;
}

.header-container > a>  img {
    position: fixed;
    top: 18px;
    left: 15px;
}

.header-container_middle > button {
    background-color: transparent;
    border-radius: 20px;
    color: white;
    width: 200px;
    height: 29px;
    text-decoration: underline;
}
.header-container_middle > button:hover {
    background-color: rgb(238, 145, 58);
}

.header-loggedIn_container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-loggedIn_container > div > div {
    font-size: 20px;
    font-weight: 700;
}

.header-loggedIn_container > div > a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}
