.main-top-p {
    font-size: 20px;
    font-weight: 500;
}



.pound-amount {
    font-size: 40px;
    line-height: 0px;
}

.donate-menu, .donate-details , .donate-payment-details{
    width: 450px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate-menu-top {
    background-color: rgb(178, 235, 254);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    font-size: 20px;
    height: 50px;
    line-height: 0%;

}

.donate-menu-quote {
    width: 300px;
    font-size: 22px;
    color:  rgb(126, 126, 126);
}

.donate-menu-form-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 80px;
    border-radius: 7px;
    border: 1px solid silver;
    cursor: pointer;
}

.donate-menu-form-div:hover {
    background-color: rgb(101, 197, 229)
}

.donate-menu-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

#donate-menu-other-amount > input {
    width: 250px;
    height: 75px;
    border-radius: 7px;
    border: 1px solid silver;
    font-size: 20px;
    padding-left: 5px;
    padding-left: 20px;
}

.donate-menu-next {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(221, 111, 8);
}

.donate-menu-next:hover {
    background-color: rgb(249, 153, 63);
}

.donate-details-formcontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 90%;
}

.donate-details-formdiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.donate-details-formdiv > input {
    width: 90%;
    height: 40px;
    letter-spacing: 1px;
    font-style: oblique;
    border-radius: 8px;
    border: 1px solid black;
    padding-left: 20px;
    margin-top: 5px;
    color: rgb(122, 122, 122);
}

.donate-details-p {
    font-size: 20px;
    background-color: rgb(233, 233, 233);
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: 40px;
    height: 50px;
    line-height: 0%;
}

.donate-details-formdiv > textarea {
    width: 90%;
    height: 100px;
    padding-left: 20px;
    padding-top: 20px;
    letter-spacing: 1px;
    font-style: oblique;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 15px;
    color: rgb(122, 122, 122);
}

.donate-details-bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
}

.donate-details-bottom > button:nth-of-type(2) {
    background-color: rgb(221, 111, 8);
}

.donate-details-bottom > button:nth-of-type(2):hover {
    color: rgb(221, 111, 8);
    background-color: white;
    border: 1px solid rgb(221, 111, 8);
}

.donate-details-bottom > button:nth-of-type(1) {
    color: rgb(221, 111, 8);
    background-color: white;
    border: 1px solid rgb(221, 111, 8);
}

.donate-details-bottom > button:nth-of-type(1):hover {
    background-color: rgb(221, 111, 8);
    color: white;
}

@media (min-width: 1000px) {
    .pound-amount {
        font-size: 80px;
        margin-top: 60px;
        line-height: 0px;
    }
    .main-top-p {
        font-size: 30px;
    }
    .donate-menu, .donate-details {
        width: 600px;
    }
    
    .donate-menu-form-div {
        width: 160px;
    }

    .donate-menu-form {
        gap: 30px;
    }

}

.card-details {
    width: 350px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid silver;
    margin-bottom: 35px;
    padding-left: 20px;
}


.card-details-mmcvv {
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid silver;
    text-align: center;
    margin-right: 10px;
}

.payment-details-button {
   
    margin-bottom: 40px;
  
    border-radius: 8px;
}

.pb1 {
    color: white;
    background-color: rgb(221, 111, 8);
}

.pb1:hover {
    background-color: white;
    color: rgb(221, 111, 8);
    border: 1px solid rgb(221, 111, 8);
}

.pb2 {
    background-color: white;
    color: rgb(221, 111, 8);
    border: 1px solid rgb(221, 111, 8);
}

.pb2:hover {
    color: white;
    background-color: rgb(221, 111, 8);
}

.donate-payment-details-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}