.secondpage-container{
    width: 300px;
    border: 1px solid silver;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.joinourevents {
    text-align: left;
    
}
.joinourevents > h3 {
    font-size: 30px;
    color: white;
    line-height: 0%;
}

.joinourevents p {
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
}

.joinevents-container a {
    text-decoration: none;
    color: black;
}

.joinevents-container {
    width: 150px;
    padding: 6px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}



@media (min-width: 550px) {
    .secondpage-container {
        width: 500px;
    }
    .joinourevents > p {
        width: 400px;
    }
}