.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#root {
  background-color: rgb(41, 11, 80);
  overflow-x: hidden;
}