.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#root {
  background-color: rgb(41, 11, 80);
  overflow-x: hidden;
}

@media (max-width:460px) {  
   .main-top  .donate-full-container
   .donate-menu , 
   .donate-details 
   .donate-payment-details ,
   .donate-details-formdiv , .donate-details-formcontainer{
    width: 300px;
  }
 
}